In [4]:
import requests
import pandas as pd
from datetime import datetime, timedelta

def construct_nasa_api(latitude, longitude):
    base_url = "https://power.larc.nasa.gov/api/temporal/hourly/point"
    start_date = "20010101"  # Fixed start date
    end_date = (datetime.now() - timedelta(days=1)).strftime("%Y%m%d")  # Yesterday's date in YYYYMMDD format

    api_url = (
        f"{base_url}?start={start_date}&end={end_date}"
        f"&latitude={latitude}&longitude={longitude}"
        f"&community=ag&parameters=T2M&format=csv&header=false"
    )

    return api_url

def fetch_nasa_data(latitude, longitude, save_csv=True):
    api_url = construct_nasa_api(latitude, longitude)
    print(f"Fetching data from: {api_url}")

    response = requests.get(api_url)

    if response.status_code == 200:
        data = response.text
        if save_csv:
            filename = "nasa_temperature_data.csv"
            with open(filename, "w") as file:
                file.write(data)
            print(f"Data saved to {filename}")
        
        # Convert to Pandas DataFrame for easy handling
        df = pd.read_csv(filename)
        print(df.head())  # Display first few rows
        return df
    else:
        print(f"Failed to fetch data. HTTP Status Code: {response.status_code}")
        return None

# Example Usage
latitude = 16.30
longitude = 80.43
fetch_nasa_data(latitude, longitude)

Fetching data from: https://power.larc.nasa.gov/api/temporal/hourly/point?start=20010101&end=20250330&latitude=16.3&longitude=80.43&community=ag&parameters=T2M&format=csv&header=false
Data saved to nasa_temperature_data.csv
   YEAR  MO  DY  HR    T2M
0  2001   1   1   0  20.70
1  2001   1   1   1  20.41
2  2001   1   1   2  20.06
3  2001   1   1   3  19.76
4  2001   1   1   4  19.50

        YEAR  MO  DY  HR     T2M
0       2001   1   1   0   20.70
1       2001   1   1   1   20.41
2       2001   1   1   2   20.06
3       2001   1   1   3   19.76
4       2001   1   1   4   19.50
...      ...  ..  ..  ..     ...
212515  2025   3  30  19 -999.00
212516  2025   3  30  20 -999.00
212517  2025   3  30  21 -999.00
212518  2025   3  30  22 -999.00
212519  2025   3  30  23 -999.00

[212520 rows x 5 columns]